<div class="jumbotron mt-4">
    <h1>Agro-vicola !!</h1>
    <h2><em>A tu lado con Huevos y Pollo de la mejor calidad</em></h2>
</div>

<h1 style="color: rgb(255, 255, 48);"> Pollitas Ponedoras </h1>
<h2 style="color: rgb(255, 255, 255);">lista de Variables Fisicas de Interes</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(236, 225, 236);">
                    <canvas id="myChartHumedad"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(182, 238, 194);">
                    <canvas id="myChartTemperatura"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(252, 177, 177);">
                    <canvas id="myChartGases"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(235, 234, 154);">
                    <canvas id="myChartLuminosidad"></canvas>
                </div>
            </div>
        </div>
    </div>


    
    {{#each ponedorasData}}
    <input class="pollitasData" type="hidden" name="{{valor}}" id="{{date}}">
    {{/each}}


<script type="text/javascript" src="js/dinamicaComidaAves.js" ></script>