<div class="container-fluid  footer-container">
    <br>
    <div class="container footer-image ">
        <img class="img-footer" src="\images\pollocrudo.jpg" alt="pollo crudo">
        <img class="img-footer" src="\images\Maiz-amarillo.jpg" alt="maiz amarillo">
        <img class="img-footer" src="\images\huevos_criollos.jpg" alt="huevos criollos">
    </div>
    <br>
</div>
<br>
<div class="container-fluid" style="color: white;">
    <div class="row text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-5x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Visitanos en YouTube!!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dignissimos veritatis temporibus alias
                quis laudantium. Non, corporis molestias voluptatum tempore porro, neque nobis ut ad ipsum vero facere
                consequatur beatae.
            </p>
        </div>
    </div>
</div>