<section class="card">
    <div class="card-body">
        <h1>Acerca de Nosotros</h1>
        <p class="my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa reiciendis nobis aspernatur officiis magnam repellat, placeat laudantium eveniet cumque doloremque.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quae! Commodi deleniti vel laboriosam esse, aut pariatur harum earum voluptates nihil explicabo dolor est magnam. Commodi, incidunt? Ratione, facere commodi?</p>
    </div>
</section>