    <div class="to-page-heading   left  " data-header-color="" data-transparent="">
        <div class="section-container">
            <div class="col col-12 col-last">
                <div class="col col-6 col-last">
                    <h1 class="single-title">De la granja a la mesa: el proceso que hay detrás del pollo que nos comemos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">

        <span class="current">De la granja a la mesa: el proceso que hay detrás del pollo que nos
            comemos</span>
    </div>
    </div>
    <section id="single-post-section">
        <div class="section-container">
            <div class="article-holder col-9 col">
                <article id="post-20217"
                    class="post-20217 post type-post status-publish format-standard has-post-thumbnail hentry category-seguridad-alimentaria category-noticias">
                    <img width="285" height="194" src="https://www.ainia.es/wp-content/uploads/2013/02/pollo.png"
                        class="post-image wp-post-image" alt="pollo" loading="lazy" />

                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <p style="text-align: justify;">Hasta que este producto pase por los fogones de casa y se sirva a la
                        mesa, qué ocurre para que llegue en buenas condiciones ??? . Detrás de esta cuestión hay
                        una&nbsp;<strong>cadena de producción y elaboración muy cuidadosa&nbsp;</strong>que va
                        d<strong>esde
                            la &ldquo;granja&rdquo; hasta el supermercado.</strong>&nbsp;Uno de los aspectos más
                        importantes
                        y que más se mima es el sanitario e higiénico. Los profesionales de ainia nos dan pistas sobre
                        algunos protocolos que se siguen.</p>
                    <div>&nbsp;</div>
                    <h5 class="subtitulo-naranja">En la &ldquo;granja&rdquo;</h5>
                    <div style="text-align: justify;">En la &ldquo;granja&rdquo;, ya se toman las primeras medidas.
                        Podemos
                        destacar la <strong>meticulosa selección</strong> del alimento que se les da a los animales, de
                        cara
                        a verificar que no contengan elementos nocivos.&nbsp;<span style="font-size: 1em; line-height: 1.6em;">También se realiza una <strong>supervisión
                                veterinaria</strong>, como por ejemplo un cuidadoso seguimiento de los medicamentos que
                            se
                            administran a los animales. &nbsp;En ese sentido, la prevención es esencial, si por ejemplo
                            se
                            le ha suministrado algún tipo de medicamento, no se sacrificará al animal hasta que pase el
                            tiempo que se estima necesario en cada caso. Además, antes del sacrificio, debemos estar
                            seguros
                            de que el intestino este limpio, sometiendo al animal a un ayuno. Todo ello, con el lógico
                            cumplimento de las exigencias normativas.</span></div>
                    <h5 class="subtitulo-naranja">&nbsp;</h5>
                    <h5 class="subtitulo-naranja">En la industria: Limpieza y desinfección&nbsp;</h5>
                    <div style="text-align: justify;">Hablando de higiene, es fundamental desarrollar unos buenos
                        procedimientos de higiene y limpieza que deben de estar validados. Es necesario, por tanto,
                        comprobar que son eficaces, reduciendo así el nivel de microorganismos para asegurar que no va a
                        ser
                        foco de posible contaminación. Estos controles provienen tanto del ámbito oficial (de cada
                        comunidad
                        autónoma), como del ámbito de la propia empresa, que aplica más medidas complementarias.
                        &nbsp;&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">Por otro lado, el <strong>diseño higiénico de las
                            instalaciones</strong> es esencial. Es decir, de qué material están fabricados o cómo están
                        diseñados. Por ejemplo, para facilitar los procesos de limpieza es necesario que los materiales
                        empleados sean de acero inoxidable y plásticos no porosos. &nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">Para asegurar que la carne esta libre de cualquier material
                        &ldquo;extraño&rdquo;, cada vez que se corta se aplica exhaustivos controles a través del
                        escáner
                        para comprobar que no hay restos.</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <h5 class="subtitulo-naranja">Envase para conservar bien la carne</h5>
                    <div style="text-align: justify;">En el caso de que compremos el pollo envasado, las cuestiones
                        sanitarias continúan también en el envasado, que debe realizarse en un recipiente que no permita
                        fugas y que necesariamente, &nbsp; debe de ser de un fabricante que tenga el registro sanitario
                        correspondiente.&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">Innovadoras tecnologías permite que el alimento permanezca cada
                        vez
                        más en mejores condiciones. La últimas tendencias se dirigen a la utilización de los llamados<a
                            href="http://www.guiaenvase.com/envases-barrera/"> <strong>envases
                                barrera</strong></a>&nbsp;que
                        ayudan a mejorar la <strong>conservación del producto y a aumentar la <a href="http://actualidad.ainia.es/web/ainiaactualidad/calidad-y-seguridad-alimentaria/-/articulos/Tc1l/content/como-se-estima-la-fecha-de-caducidad-y-la-fecha-de-consumo-preferente">vida
                                útil</a></strong><a href="http://actualidad.ainia.es/web/ainiaactualidad/calidad-y-seguridad-alimentaria/-/articulos/Tc1l/content/como-se-estima-la-fecha-de-caducidad-y-la-fecha-de-consumo-preferente">&nbsp;</a>
                        del mismo. Una <strong>vida útil </strong>que ainia centro tecnológico estima para &nbsp;las
                        <strong>carnes frescas envasadas </strong>entre <strong>siete y diez días</strong> en función
                        del
                        proceso de conservación, sistema de envasado elegido o la calidad de los ingredientes.&nbsp;
                    </div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <h5 class="subtitulo-naranja">La cocina y las manos limpias por favor.</h5>
                    <div style="text-align: justify;">Los temas sanitarios no acaban cuando compramos la carne de pollo.
                        En
                        la cocina no debemos descuidar las cuestiones sanitarias, tanto en la correcta conservación del
                        producto en la nevera como en la manipulación del alimento. Algunos &nbsp;protocolos higiénicos
                        que
                        sigue la industria pueden servirnos para casa: superficies limpias, limpiarnos las manos o
                        utilizar
                        instrumentos totalmente limpios son algunos ejemplos que todos sabemos pero que, de vez en
                        cuando,
                        descuidamos.&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <div style="text-align: justify;">&nbsp;</div>
                    <table width="400" border="1" cellpadding="1" cellspacing="1">
                        <tbody style="background-color: rgb(183, 255, 0);">
                            <tr>
                                <td><strong><span style="font-size: 11px; line-height: 17.90625px; text-align: justify;">Contaminación
                                            cruzada en la carne</span></strong></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 11px; line-height: 17.90625px; text-align: justify;">Cuidado
                                        especialmente con la contaminación cruzada. Evitemos por ejemplo que los
                                        líquidos
                                        que provienen de la carne cruda entren en contacto con otros alimentos, sobre
                                        todo
                                        con los que se comen sin cocinar. . De la misma manera hay que extremar el
                                        cuidado
                                        con los utensilios, (cuchillos, paños, etc.). Por ejemplo nunca debemos
                                        &nbsp;utilizar un cuchillo &nbsp;con el que hemos cortado carne cruda para
                                        trinchar
                                        el pollo sin haberlo lavado previamente de forma escrupulosa
                                        anteriormente.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>