    <div class="entry-content">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p><strong>Mucho gusto, soy una gallina feliz</strong></p>
                                <p>¿Has escuchado alguna vez el término “Gallinas felices”? ¿sabes cuál es la diferencia
                                    entre unos huevos orgánicos y huevos comerciales?<br />
                                    Yo tenía estas mismas dudas, así que invité a los creadores de Alma Verde para que nos
                                    cuenten qué tipos de huevo existen y cuáles son sus diferencias. Lo que nos comparten es
                                    sorprendente. Si tu eres de los que consume huevos es mejor que leas este artículo hasta
                                    el final.</p>
                                <p>La forma en que se crían las gallinas determina el tipo de huevo que estas producen</p>
                                <p>En el mercado podemos encontrar básicamente, 1) huevos de gallinas criadas en jaulas o
                                    comerciales, 2) Gallinas criadas en suelo, 3) gallinas con acceso al aire libre 4)
                                    Gallinas felices y gallinas orgánicas o ecológicas. A continuación te vamos a contar
                                    sobre cada una de ellas.</p>
    
                            </div>
                        </div>
    
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul>
                                    <li><img class="size-medium wp-image-2473 alignright"
                                            src="https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-300x237.jpg"
                                            alt="" width="300" height="237"
                                            srcset="https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-300x237.jpg 300w, https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-600x473.jpg 600w, https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-768x606.jpg 768w, https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-1024x808.jpg 1024w, https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2-80x62.jpg 80w, https://www.kasana.co/wp-content/uploads/2018/07/huevos-en-jaula_2.jpg 1033w"
                                            sizes="(max-width: 300px) 100vw, 300px" />Huevos de gallinas criadas en jaulas
                                        (eggs from caged hens): Las gallinas viven en jaulas, pensadas para que tengan
                                        acceso al alimento, al agua y para facilitar la recogida de huevos, de las que nunca
                                        salen. En estas jaulas no tienen espacio para mover o extender sus alas. Y además de
                                        estar hacinadas, se les corta el pico para que no se ataquen entre ellas y reducir
                                        en la medida de lo posible el alto nivel de estrés.Los defensores de los animales
                                        alertan sobre el maltrato que esto supone para ellas. Si nos ponemos en su
                                        situación, es como si pasaramos la vida encerrados en una cárcel de la que nunca
                                        salimos a ver el sol. Consideramos que, las gallinas deberían tener espacio para
                                        caminar y moverse y expresar sus tendencias naturales. Deberían tener la oportunidad
                                        para vivir libremente.</li>
                                </ul>
    
                            </div>
                        </div>
    
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul>
                                    <li><img class="size-medium wp-image-2470 alignright"
                                            src="https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs-300x225.jpg"
                                            alt="" width="300" height="225"
                                            srcset="https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs-300x225.jpg 300w, https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs-600x450.jpg 600w, https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs-768x576.jpg 768w, https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs-1024x768.jpg 1024w, https://www.kasana.co/wp-content/uploads/2018/07/cage-free-eggs.jpg 1120w"
                                            sizes="(max-width: 300px) 100vw, 300px" />Gallinas Criadas en suelo (cage-Free):
                                        estas gallinas pueden moverse libremente, pero esto no significa que vivan al aire
                                        libre, sino dentro de una instalación. Están fuera de una jaula, pero generalmente
                                        en mucho hacinamiento. La definición de cage-free o gallina de Corral permite que la
                                        industria del huevo comercial pueda tener instalaciones industriales y aun así
                                        llamarlos huevos de gallinas libres, a pesar de que las condiciones de alimentación
                                        de las aves están muy lejos de lo que se dice natural.</li>
                                </ul>
    
                            </div>
                        </div>
    
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul>
                                    <li><img class="alignright size-medium wp-image-2471"
                                            src="https://www.kasana.co/wp-content/uploads/2018/07/free-range_1-300x200.jpg"
                                            alt="" width="300" height="200"
                                            srcset="https://www.kasana.co/wp-content/uploads/2018/07/free-range_1-300x200.jpg 300w, https://www.kasana.co/wp-content/uploads/2018/07/free-range_1-600x400.jpg 600w, https://www.kasana.co/wp-content/uploads/2018/07/free-range_1-768x512.jpg 768w, https://www.kasana.co/wp-content/uploads/2018/07/free-range_1-150x100.jpg 150w, https://www.kasana.co/wp-content/uploads/2018/07/free-range_1.jpg 940w"
                                            sizes="(max-width: 300px) 100vw, 300px" />Gallinas con acceso al aire libre
                                        (free-range eggs): Además de una nave, las gallinas tienen acceso al aire libre.
                                        Esto no significa necesariamente que las gallinas estén libres de crueldad o
                                        antibióticos o la mayor parte de su tiempo estén al aire libre.</li>
                                </ul>
    
                            </div>
                        </div>
    
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>Puedes identificar cuando los huevos son verdaderamente “free-range” o “pasture-raised”
                                    por el color de la clara. Las gallinas que deambulan libremente producen huevos con las
                                    yemas de color naranja brillante. Las yemas de color amarillo pálido son un signo seguro
                                    de que los huevos son de gallinas criadas que pasan la mayor parte de su tiempo
                                    encerradas.</p>
                                <p>y ¿cuáles son los huevos de gallina feliz?</p>
                                <p>Los huevos de gallina feliz son huevos de gallinas criadas al aire libre, criadas con
                                    amor, gallinas que pueden tener una vida natural.</p>
                                <p>Estos huevos pueden ser orgánicos o no. La diferencia radica en la alimentación de las
                                    gallinas. Para ser consideradas orgánicas han de alimentarse con pienso (alimento para
                                    animales) procedente de la agricultura ecológica, es decir, libre de transgénicos y
                                    pesticidas.</p>
                                <p><img class="alignleft size-medium wp-image-2472"
                                        src="https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices-300x225.jpg"
                                        alt="" width="300" height="225"
                                        srcset="https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices-300x225.jpg 300w, https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices-600x450.jpg 600w, https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices-768x576.jpg 768w, https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices-1024x768.jpg 1024w, https://www.kasana.co/wp-content/uploads/2018/07/gallinas-felices.jpg 2024w"
                                        sizes="(max-width: 300px) 100vw, 300px" />Las gallinas de Alma verde, son gallinas
                                    felices y orgánicas. Viven en libertad, garantizando su comportamiento natural y libres
                                    de estrés, además se alimentan con productos orgánicos de excelente calidad. Este tipo
                                    de producción, además de dar mayor calidad de vida a las aves, también mejora la
                                    composición nutricional de los huevos, ya que las gallinas se alimentan con concentrado
                                    enriquecido en nutrientes.</p>
                                <p>Diferentes estudios han confirmado que los huevos de gallinas felices son verdaderamente
                                    mucho más nutritivos que los huevos de gallinas criadas convencionalmente.</p>
                                <p>En un proyecto llevado a cabo en el 2007, el Departamento de Agricultura de los Estados
                                    Unidos (USDA) comparó los huevos comerciales con los huevos de gallinas felices y
                                    descubrieron que estos últimos tienen:</p>
                                <ul>
                                    <li>3 veces más vitamina A</li>
                                    <li>3 veces más vitamina E</li>
                                    <li>2 veces más omega 3</li>
                                    <li>7 veces más betacaroteno</li>
                                </ul>
                                <p>Por los animales y por una mejor nutrición, prefiere huevos de gallinas felices.</p>
                                <p>Si vives en Medellín puedes conseguir tus huevos en <a href="https://tiendacolyflor.com/"
                                        target="_blank" rel="noopener">colyflor,</a>tienda de comercio justo</p>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>