<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"></script>

<div class="jumbotron mt-4">
    <h1>Agro-vicola !!</h1>
    <h2><em>A tu lado con Huevos y Pollo de la mejor calidad</em></h2>
</div>

<h1 style="color: rgb(255, 255, 48);"> Pollitas Ponedoras </h1>
<h2 style="color: rgb(255, 255, 255);">lista de Variables Fisicas de Interes</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(236, 225, 236);">
                    <canvas id="myChartHumedad" height="200"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(205, 253, 215);">
                    <canvas id="myChartTemperatura" height="200"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(253, 195, 195);">
                    <canvas id="myChartGases" height="200"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container my-2" style="background-color: rgb(245, 244, 178);">
                    <canvas id="myChartLuminosidad" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>


    
    {{#each ponedorasData}}
    <input class="pollitasData" type="hidden" name="{{valor}}" id="{{date}}">
    {{/each}}


<script type="text/javascript" src="js/dinamicaSensoresPon.js" ></script>

