<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Ingresa tu Cuenta
            </div>
            <img src="images/user.png" alt="user" class="rounded-circle mx-auto d-block m-2 logo">
            <div class="card-body">
                <form action="/signin" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contrasena">
                </div>

                <button class="btn btn-primary btn-block">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>